import lombok.Data;
import lombok.NoArgsConstructor;
import org.springframework.ai.tool.annotation.ToolParam;

@Data
@NoArgsConstructor
public class {{classname}} {
{{#vars}}

    @ToolParam(required=false)
    private {{{datatype}}} {{name}};
{{/vars}}
}